@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p><a href="/JS_uppg1.html">JavaScript Uppgift 1</a></p>
    <p><a href="/JS-uppg2.html">JavaScript Uppgift 2</a></p>
    <p><a href="/JS-uppg3.html">JavaScript Uppgift 3</a></p>
    <p><a href="/JS-uppg4.html">JavaScript Uppgift 4</a></p>

</div>
